<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title>Flask React</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <div class="container">
      <h1>Flask React</h1>
      <br>
      <div id="like_button_container"></div>
    </div>
    <!-- scripts -->
    <script src="{{ url_for('static', filename='lib/react.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/react-dom.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/jsx/todo.js') }}"></script>
  </body>
</html>